h1 {
    

    font-family: cursive;
    position:ablsolute;
    margin-top:100px;
}
body {
    background-color: springgreen;
}
.name {
    font-size: 30px;
    position: absolute;
    top: 10px;
    left:20px;
   }
   #home {
    position: absolute;;
    top:10px;
    right:350px;
   }
   #about {
    position: absolute;
    top:10px;
    right:250px;
   }
   #list {
    position: absolute;
    top:10px;
    right:50px;
   }
   .header {
       background-color: deepskyblue;
       display:flex;
       justify-content: space-between;
       flex-direction: column;
    
    }
    #mbook {
        position:absolute;
        left:100px;
    }
    #bitly {
        position:absolute;
        top:250px;
        left:400px;
    }
    #savas {
        position:absolute;
        top:300px;
        left:700px;
    }
    #sbook {
        position:absolute;
        top:150px;
        left:900px;
    }
    #scheduele {
        margin-top: 100px;
    }
    #link {
        font-family: cursive;
        margin-top: 500px;
    }